/commands.js
tests/fixtures/testApp/cypress/support
tests/fixtures/testApp/cypress/integration-run
tests/fixtures/testApp/cypress/integration-pack
tests/fixtures/testApp/cypress/integration-timeout
tests/it/setup/fixtures/cypress/
node_modules