node_modules
.env
/cypress
tests/cypress/screenshots
tests/cypress/videos
.applitools
.private
.History.md.swp
tests/fixtures/testApp/cypress/screenshots
tests/fixtures/testApp/cypress/videos
tests/fixtures/testApp/package-lock.json
tests/fixtures/testApp/cypress/fixtures/
*.tap
cdt.json
.vscode
*.code-workspace
.idea/
.history
tests/cypress
**/.debug