node_modules
.env
/cypress
tests/cypress/screenshots
tests/cypress/videos
.applitools
.private
.History.md.swp
tests/fixtures/testApp/cypress/screenshots
tests/fixtures/testApp/cypress/videos
applitools.config.js
tests/fixtures/testApp/package-lock.json
tests/fixtures/testApp/cypress/fixtures/
**/*.tap
.vscode
*.code-workspace
.idea/